
*{
  font-family: 'NRT' !important;

}
html {
  font-family: 'NRT' !important;
}
@font-face {
  font-family: 'NRT';
  src: url('./assets/font/NRT-Reg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hafs';
  src: url('./assets/font/Hafs.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.custom-font {
  font-family: 'Hafs', Arial, sans-serif !important;
}
body {

  font-family: 'NRT' !important;
 
}
